<body>
    <h1>Details</h1>
    <hr />
    <table>
        <tr>
            <td>EmpId</td>
            <td>@Model.EmpId</td>
        </tr>
        <tr>
            <td>EmpName</td>
            <td>@Model.EmpName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>Designation</td>
            <td>@Model.Designation</td>
        </tr>
        <tr>
            <td>DeptId</td>
            <td>@Model.DeptId</td>
        </tr>
    </table>
    <button class="btn btn-info">  <a href="/Employee/GetAll">Employee List</a></button>
</body>