@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<EmpDept.Models.Entities.Employee>

<h1>List Of Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Designation</th>
            <th>Department ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model){
            <tr>
                <td>@employee.EmpId</td>
                <td>@employee.EmpName</td>
                <td>@employee.Email</td>
                <td>@employee.Phone</td>    
                <td>@employee.Designation</td>
                <td>@employee.DeptId</td>
                <td>
                    <a class="btn btn-primary" asp-controller="EmployeeController" asp-action="Edit" asp-route-id="@employee.EmpId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>